doctype html
html(lang="")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Boilerplate using Parcel

  body
    include ../header
    block content
    include ../footer
    script(src="js/script.js")
