extends pug/layout/_layout

block content
  div.test.js-test
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et placerat dolor, et consequat nisi. Nam aliquet felis
      | vitae consequat ultrices. Suspendisse ut lacus id justo fringilla sollicitudin ac non sapien. Suspendisse sed
      | tristique lorem. Praesent vitae feugiat orci. Donec in tempor augue. Donec enim arcu, egestas at efficitur nec,
      | tristique eget massa.
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et placerat dolor, et consequat nisi. Nam aliquet felis
      | vitae consequat ultrices. Suspendisse ut lacus id justo fringilla sollicitudin ac non sapien. Suspendisse sed
      | tristique lorem. Praesent vitae feugiat orci. Donec in tempor augue. Donec enim arcu, egestas at efficitur nec,
      | tristique eget massa.
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et placerat dolor, et consequat nisi. Nam aliquet felis
      | vitae consequat ultrices. Suspendisse ut lacus id justo fringilla sollicitudin ac non sapien. Suspendisse sed
      | tristique lorem. Praesent vitae feugiat orci. Donec in tempor augue. Donec enim arcu, egestas at efficitur nec,
      | tristique eget massa.

  span dev
